.footer
  padding: 55px 0

  @include tablet
    padding-bottom: 30px

  @include tablet
    padding-bottom: 14px

  &__container
    font-weight: 400
    display: grid
    grid-template-areas: 'logo .' 'copyright contacts'
    gap: 14px

    @include mobile
      grid-template-areas: 'logo' 'contacts' 'copyright'
      gap: 0

  &__logo
    grid-area: logo

    @include mobile
      margin-bottom: 44px

  &__copyright
    grid-area: copyright
    align-self: end

  &__contacts
    grid-area: contacts
    justify-self: end
    display: flex
    flex-direction: column
    gap: 7px

    @include mobile
      justify-self: start
      gap: 10px
      margin-bottom: 33px
