.footer
  padding: 40px 0

  &__container
    display: grid
    grid-template-areas: 'logo .' 'copyright contacts'
    gap: 14px

  &__logo
    grid-area: logo

  &__copyright
    grid-area: copyright
    align-self: end

  &__contacts
    grid-area: contacts
    justify-self: end
    display: flex
    flex-direction: column
    gap: 7px
